# 忽略编译生成的可执行文件和可执行文件路径
*.exe
*.exe~
*.dll
*.so
*.dylib

# 忽略编译生成的对象文件和构建临时文件
*.o
*.a
*.obj
*.bak
*.tmp

# 忽略IDE和编辑器生成的文件和目录
.idea/
.vscode/

# 忽略Go编译生成的二进制文件
/bin/

# 忽略依赖管理工具生成的目录
#/vendor/
